@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
}

* {
    scroll-margin-top: 90px;
}

a {
    text-decoration: none;
    color: #000000;
}

header {
    position: fixed;
    width: 84%;
    height: 90px;
    padding: 0% 8%;
    background: rgb(255, 255, 255, 1);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
}

header .logo {
    height: 40px;
    gap: 10px;
}

.logo img {
    height: 100%;
}

header nav {
    height: 50px;
    gap: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

header nav span{
    cursor: pointer;
    color: #666666;
    transition: 0.4s;
}

header nav span:hover{
    color: black;
}

header nav .template-btn{
    color: #FFFFFF;
    padding: 10px 30px;
    background: #222222;
    border-radius: 4px;
}

header nav .template-btn:hover{
    background: #a5a5a5;
}

header nav .mobile-nav {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: end;
}

header nav .mobile-nav ion-icon {
    font-size: 20px;
    transition: 0.4s;
}

header nav .mobile-nav .list-button:hover ion-icon {
    transform: rotate(90deg);
}

header nav .mobile-nav ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 70px;
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 10px 10px;
}

header nav .mobile-nav ul li, header nav .mobile-nav .list-button {
    display: flex;
    width: 120px;
    height: 50px;
    background-color: #FFFFFF;
    color: #666666;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 5px;
    cursor: pointer;
    transition: 0.4s;
}

header nav .mobile-nav .list-button:hover {
    color: black;
}

header nav .mobile-nav ul li:hover {
    background-color: #a5a5a5;
    color: black;
}

header nav .mobile-nav ul #last {
    border-radius: 0px 0px 10px 10px;
}

main {
    display: flex;
    flex-direction: column;
}

main .download-app, main .technology, main .security {
    position: relative;
    padding: 70px 15% 0px 15%;
    top: 90px;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .download-app, main .technology {
    flex-wrap: wrap;
}

main .security {
    flex-wrap: wrap-reverse;
}

main .download-app, main .technology {
    background-color: #FFFFFF;
}

main .security {
    background-color: #F2F2F2;
}

main .download-app .info, main .technology .info, main .security .info {
    width: 420px;
    height: 400px;
    color: #222222;
}

main .download-app .logo {
    height: 64px;
    gap: 20px;
    font-size: 24px;
}

main .download-app .info h2 {
    font-weight: 400;
    font-size: 54px;
    margin: 0px 5px;
}

main .download-app .info .app-buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .download-app .info .app-buttons span {
    padding: 10px 30px;
    background-color: #222222;
    border-radius: 4px;
    color: #FFFFFF;
    transition: 0.4s;
    cursor: pointer;
}

main .download-app .info .app-buttons span:hover {
    background: #a5a5a5;
    color: black;
}

main .download-app .phone-image, main .technology .phone-image, main .security .phone-image {
    width: 380px;
    align-self: end;
}

main .features {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 90px;
    width: 100%;
    background: #222222;
}

main .features .feature-blocks {
    padding: 70px 10%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

main .features .feature-blocks .item{
    position: relative;
    height: 490px;
    width: 380px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

main .features .info {
    text-align: center;
    margin-top: 100px;
}

main .features .info p, main .features .info h2{
    margin: 0;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

main .features .info p {
    font-size: 16px;
}

main .features .info h2 {
    font-size: 36px;
}

main .features .feature-blocks .item .description {
    height: 200px;
    padding: 0px 10%;
    background: rgb(242, 242, 242, 0.9);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}

main .features .feature-blocks .item .description img {
    position: relative;
    width: 64px;
    bottom: 32px;
}

main .features .feature-blocks .item .description h4 {
    position: relative;
    margin: 0;
    bottom: 12px;
    font-weight: 500;
    font-size: 24px;
}

main .features .feature-blocks .item .description p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

main .features .feature-blocks .item .bg-image {
    position: absolute;
    width: 227px;
    z-index: 0;
}

main .advantages {
    position: relative;
    top: 90px;
    padding: 80px 15%;
    background-color: #FF5437;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

main .advantages .advantage-block {
    height: 150px;
    width: 300px;
    text-align: center;
    font-weight: 400;
    color: #FFFFFF;
}

main .advantages .advantage-block h3 {
    font-size: 80px;
    margin: 0;
}

main .advantages .advantage-block p {
    margin: 0;
    font-size: 16px;
}

main .modes {
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 10%;
    text-align: center;
    background-color: #222222;
}

main .modes p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

main .modes h2 {
    margin: 0px 0px 10px 0px;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}

main .modes img {
    width: 400px;
    margin-top: 50px;
}

main .modes hr{
    margin: 0;
    width: 600px;
    border: 1px solid #E5E5E5;
}

main .modes .mode-buttons {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    color: #FFFFFF;
}

main .modes .mode-buttons span ion-icon {
    font-size: 25px;
    margin-bottom: 3px;
    transition: 0.8s;
}

main .modes .mode-buttons span p {
    font-size: 16px;
    transition: 0.4s;
}

main .modes .mode-buttons span {
    cursor: pointer;
}

main .modes .mode-buttons span:hover ion-icon {
    transform: rotate(360deg);
    color: #f7c00a;
}

main .modes .mode-buttons span:hover p {
    color: #f7c00a;
}

main .pricing {
    position: relative;
    top: 90px;
    padding: 70px 10%;
    text-align: center;
}

main .pricing p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #666666;
}

main .pricing .title {
    color: #222222;
}

main .pricing h2 {
    margin: 0px 0px 10px 0px;
    font-weight: 400;
    font-size: 32px;
    color: #222222;
}

main .pricing .subscription {
    position: relative;
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

main .pricing .subscription .sub-block {
    position: relative;
    width: 380px;
    height: 260px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px 0px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.4s;
}

main .pricing .subscription .sub-block:hover {
    opacity: 1;
}

main .pricing .subscription .sub-block p {
    font-weight: 400;
    font-size: 17px;
    color: #222222;
    margin: 0;
}

main .pricing .subscription .sub-block h2 {
    font-weight: 400;
    font-size: 90px;
    margin: 0;
}

main .pricing .subscription .sub-block span {
    position: relative;
    padding: 10px 25px;
    color: #FFFFFF;
    border-radius: 4px;
    top: 30px;
    cursor: pointer;
    transition: 0.4s;
}

main .pricing .subscription .sub-block span:hover {
    -webkit-box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.3);
}

main .download-now {
    position: relative;
    top: 90px;
    padding: 70px 10%;
    background: #FFFFFF;
    text-align: center;
}

main .download-now p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #666666;
}

main .download-now .title {
    color: #222222;
}

main .download-now h2 {
    margin: 0px 0px 10px 0px;
    font-weight: 400;
    font-size: 32px;
    color: #222222;
}

main .download-now img {
    margin-top: 30px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 12px;
}

main .download-now img:hover {
    -webkit-box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.3);
}

main .instructions {
    position: relative;
    text-align: center;
    top: 90px;
    padding: 100px 10%;
    background: #E5E5E5;
    color: #222222;
}

main .instructions h2 {
    font-weight: 400;
    font-size: 32px;
    margin: 0px 0px 10px 0px;
}

main .instructions p {
    font-weight: 400;
    font-size: 16px;
    margin: 0px 0px 10px 0px;
}

main .instructions .answers {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

main .instructions .answers .answer-block {
    position: relative;
    width: 570px;
    height: 170px;
    cursor: pointer;
    transition: 0.4s;
}

main .instructions .answers .answer-block:hover {
    text-decoration: underline;
}

main form {
    position: fixed;
    padding: 30px;
    top: 230px;
    background-color: #FFFFFF;
    z-index: 3;
    width: 450px;
    height: 440px;
    align-self: center;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main form .close-button {
    position: absolute;
    left: 450px;
    top: 33px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.6s;
}

main form .close-button:hover {
    color: #E50000;
    transform: rotate(360deg);
}

main form h2 {
    margin: 0;
}

main form label {
    font-weight: 500;
    font-size: 16px;
}

main form .field-block .input-block {
    position: relative;
    width: 100%-4px;
    height: 46px;
    border: 2px solid #B1B1B1;
    border-radius: 5px;
}

main form .field-block .smaller-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main form .pay-input {
    font-family: 'Poppins', sans-serif;
    position: relative;
    border: 2px solid #B1B1B1;
    font-weight: 400;
    font-size: 16px;
    outline: 2px solid #FFFFFF;
    width: 100%-4px;
    height: 44px;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.4s;
}

main form .pay-input:focus {
    border: 2px solid #000000;
    outline: 2px solid #CBCBCB;
}

main form .field-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main form .card {
    height: 45%;
}

main form .email, main form .full-name {
    height: 20%;
}

main form .submit {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 10px;
    height: 13%;
    height: 100%;
    width: 100px;
    border: none;
    background-color: #2D4FF6;
    cursor: pointer;
    transition: 0.4s;
}

main form .submit:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

footer {
    position: relative;
    top: 90px;
    padding: 100px 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2 {
    color: #222222;
    font-size: 32px;
    margin: 0px 0px 20px 0px;
}

footer p {
    color: #666666;
}

footer .socials {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .socials ion-icon {
    font-size: 35px;
    cursor: pointer;
    transition: 0.4s;
}

footer .socials #twitter:hover {
    color: #1DA1F2;
}

footer .socials #instagram:hover {
    color: #c13584;
}

footer .socials #facebook:hover {
    color: #4267B2;
}

.blur {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 350px){   
    main .features .info p {
        font-size: 14px;
    }
    
    main .features .info h2 {
        font-size: 30px;
    }

    main .features .feature-blocks {
        padding: 70px 0%;
    }

    main .features .feature-blocks .item{
        height: 410px;
        width: 300px;
    }

    main .features .feature-blocks .item .description {
        height: 160px;
        padding: 0px 5%;
    }
    
    main .features .feature-blocks .item .description img {
        width: 54px;
        bottom: 27px;
    }
    
    main .features .feature-blocks .item .description h4 {
        bottom: 10px;
        font-size: 20px;
    }
    
    main .features .feature-blocks .item .description p {
        font-size: 13px;
    }
    
    main .features .feature-blocks .item .bg-image {
        width: 195px;
    }

    main .modes p {
        font-size: 16px;
    }
    
    main .modes h2 {
        font-size: 30px;
    }

    main .modes img {
        width: 250px;
    }
    
    main .modes hr{
        width: 300px;
    }

    main .technology .info p, main .security .info p {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px){
    header nav {
        gap: 0px;
    }
    
    header nav .mobile-nav ul li, header nav .mobile-nav .list-button {
        width: 100px;
        font-size: 14px;
    }

    header nav .template-btn{
        display: none;
    }

    main .download-app .info h2 {
        font-size: 40px;
    }

    main .download-app, main .technology, main .security {
        padding: 50px 7% 0px 7%;
    }

    main .download-app .phone-image, main .technology .phone-image, main .security .phone-image {
        width: 300px;
    }

    main .pricing {
        padding: 70px 5%;
    }
    
    main .pricing .subscription .sub-block {
        width: 330px;
        height: 210px;
    }

    main .pricing .subscription .sub-block p {
        font-size: 16px;
    }
    
    main .pricing .subscription .sub-block h2 {
        font-size: 70px;
    }
    
    main .pricing .subscription .sub-block span {
        padding: 8px 23px;
        top: 20px;
    }

    main .instructions {
        padding: 50px 10%;
    }

    main .instructions h2 {
        font-size: 30px;
    }
    
    main .instructions p {
        font-size: 14px;
    }
    
    main .instructions .answers .answer-block {
        width: 100%;
        height: 230px;
    }
}

@media screen and (max-width: 550px) and (min-width: 350px){
    main .features .info p {
        font-size: 14px;
    }
    
    main .features .info h2 {
        font-size: 30px;
    }

    main .features .feature-blocks {
        padding: 70px 0%;
    }
    
    main .features .feature-blocks .item{
        height: 440px;
        width: 330px;
    }

    main .features .feature-blocks .item .description {
        height: 180px;
        padding: 0px 5%;
    }
    
    main .features .feature-blocks .item .description img {
        width: 54px;
        bottom: 27px;
    }
    
    main .features .feature-blocks .item .description h4 {
        bottom: 11px;
        font-size: 22px;
    }
    
    main .features .feature-blocks .item .description p {
        font-size: 14px;
    }
    
    main .features .feature-blocks .item .bg-image {
        width: 210px;
    }

    main .modes p {
        font-size: 16px;
    }
    
    main .modes h2 {
        font-size: 30px;
    }

    main .modes img {
        width: 280px;
    }
    
    main .modes hr{
        width: 330px;
    }
}

@media screen and (max-width: 650px) and (min-width: 550px){
    main .modes img {
        width: 350px;
    }

    main .modes hr{
        width: 500px;
    }
}


@media screen and (max-width: 650px) and (min-width: 450px){
    header nav {
        gap: 0px;
    }
    
    header nav .mobile-nav ul li, header nav .mobile-nav .list-button {
        width: 100px;
        font-size: 14px;
    }

    header nav .template-btn{
        padding: 8px 17px;
        font-size: 14px;
    }

    main .download-app .info h2 {
        font-size: 44px;
    }

    main .download-app, main .technology, main .security {
        padding: 70px 10% 0px 10%;
    }

    main .download-app .phone-image, main .technology .phone-image, main .security .phone-image {
        width: 300px;
    }

    main .instructions {
        padding: 70px 10%;
    }

    main .instructions h2 {
        font-size: 30px;
    }
    
    main .instructions p {
        font-size: 14px;
    }
    
    main .instructions .answers .answer-block {
        width: 100%;
        height: 180px;
    }
}

@media screen and (max-width: 900px){
    header nav .navigation-button {
        display: none;
    }

    header nav .mobile-nav {
        display: flex;
    }
}